html
  head
    style
        include ../public/style.css
    title= title
  body
    h1.mainHeader= message
    p= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel convallis elit, quis blandit elit. Duis a ipsum semper, condimentum turpis id, fringilla arcu. Nam blandit iaculis nulla eget blandit. Proin mauris elit, ultrices vel sollicitudin rhoncus, pellentesque id arcu. Proin elementum eros ligula, non euismod nibh pulvinar quis. Nullam tincidunt diam eu venenatis interdum. Vestibulum non congue nulla. Sed ultrices vitae leo et condimentum. Cras varius nulla vehicula molestie porttitor. Donec pellentesque vestibulum pellentesque. Cras facilisis justo et massa volutpat, vitae sagittis urna ultrices.'
    input
    button= 'JLASDFKLDS'